{% extends "layout.html" %}

{# This is a comment #}
{% block content %}
	<h1>{{ 'Users' | translate }}</h1>

	{% for user in entry.users.all() %}
		{% if loop.first %}
			<ul>
		{% endif %}
				<li>{{ user.name }}</li>
		{% if loop.last %}
			</ul>
		{% endif %}
	{% else %}
		{{ 'No users have been found.'|translate }}
	{% endfor %}
{% endblock %}
